<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>651465980800-a0gm64gb3bnsfnba09flfrgdvd0vdlau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651465980800-a0gm64gb3bnsfnba09flfrgdvd0vdlau</string>
	<key>API_KEY</key>
	<string>AIzaSyB9vM01Zq-WLrBPXHwVndxypVrde0bD89M</string>
	<key>GCM_SENDER_ID</key>
	<string>651465980800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aZi.TaxiDriver</string>
	<key>PROJECT_ID</key>
	<string>taxi-d20e4</string>
	<key>STORAGE_BUCKET</key>
	<string>taxi-d20e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651465980800:ios:1d69200a75ebaa9a</string>
	<key>DATABASE_URL</key>
	<string>https://taxi-d20e4.firebaseio.com</string>
</dict>
</plist>